# Node dependencies
node_modules/

# Yarn Berry cache (если используете Yarn 2+/Berry)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Yarn offline mirror
.yarn-offline-mirror/

# Dist и кэш сборки
dist/
build/
.cache/
coverage/
.storybook-out/

# Временные файлы и логи
*.log
*.log.*
*.tmp
.cache-loader/
.DS_Store
Thumbs.db

# IDE/Editor-specific
.vscode/
.idea/
*.swp

# Storybook
storybook-static/

# TypeScript build outputs (если вдруг генерируются)
*.tsbuildinfo

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
